stacksidebar * {
  border-left-width: 0px;
  border-right-width: 0px;
}

separator.sidebar {
  border-style: none;
  background-color: @borders;
  margin: 0px 0px 0px 0px;
}

separator.sidebar:backdrop {
  background-color: @unfocused_borders;
}
