hdyleaflet > dimming {
  background: rgba(0, 0, 0, 0.12);
}

hdyleaflet > shadow {
  min-width: 81px;
  min-height: 81px;
}

hdyleaflet > shadow.left {
  background: linear-gradient(to right,
                              rgba(0, 0, 0, 0.06),
                              rgba(0, 0, 0, 0.0594) 3.125%,
                              rgba(0, 0, 0, 0.0588) 6.25%,
                              rgba(0, 0, 0, 0.057)  9.38%,
                              rgba(0, 0, 0, 0.0552) 12.5%,
                              rgba(0, 0, 0, 0.0492) 18.75%,
                              rgba(0, 0, 0, 0.0426) 25%,
                              rgba(0, 0, 0, 0.0276) 37.5%,
                              rgba(0, 0, 0, 0.021)  43.75%,
                              rgba(0, 0, 0, 0.015)  50%,
                              rgba(0, 0, 0, 0.0102) 56.25%,
                              rgba(0, 0, 0, 0.0066) 62.5%,
                              rgba(0, 0, 0, 0.0042) 68.75%,
                              rgba(0, 0, 0, 0.0024) 75%,
                              rgba(0, 0, 0, 0.0006) 87.5%,
                              rgba(0, 0, 0, 0));
}

hdyleaflet > shadow.right {
  background: linear-gradient(to left,
                              rgba(0, 0, 0, 0.06),
                              rgba(0, 0, 0, 0.0594) 3.125%,
                              rgba(0, 0, 0, 0.0588) 6.25%,
                              rgba(0, 0, 0, 0.057)  9.38%,
                              rgba(0, 0, 0, 0.0552) 12.5%,
                              rgba(0, 0, 0, 0.0492) 18.75%,
                              rgba(0, 0, 0, 0.0426) 25%,
                              rgba(0, 0, 0, 0.0276) 37.5%,
                              rgba(0, 0, 0, 0.021)  43.75%,
                              rgba(0, 0, 0, 0.015)  50%,
                              rgba(0, 0, 0, 0.0102) 56.25%,
                              rgba(0, 0, 0, 0.0066) 62.5%,
                              rgba(0, 0, 0, 0.0042) 68.75%,
                              rgba(0, 0, 0, 0.0024) 75%,
                              rgba(0, 0, 0, 0.0006) 87.5%,
                              rgba(0, 0, 0, 0));
}

hdyleaflet > shadow.up {
  background: linear-gradient(to bottom,
                              rgba(0, 0, 0, 0.06),
                              rgba(0, 0, 0, 0.0594) 3.125%,
                              rgba(0, 0, 0, 0.0588) 6.25%,
                              rgba(0, 0, 0, 0.057)  9.38%,
                              rgba(0, 0, 0, 0.0552) 12.5%,
                              rgba(0, 0, 0, 0.0492) 18.75%,
                              rgba(0, 0, 0, 0.0426) 25%,
                              rgba(0, 0, 0, 0.0276) 37.5%,
                              rgba(0, 0, 0, 0.021)  43.75%,
                              rgba(0, 0, 0, 0.015)  50%,
                              rgba(0, 0, 0, 0.0102) 56.25%,
                              rgba(0, 0, 0, 0.0066) 62.5%,
                              rgba(0, 0, 0, 0.0042) 68.75%,
                              rgba(0, 0, 0, 0.0024) 75%,
                              rgba(0, 0, 0, 0.0006) 87.5%,
                              rgba(0, 0, 0, 0));
}

hdyleaflet > shadow.down {
  background: linear-gradient(to top,
                              rgba(0, 0, 0, 0.06),
                              rgba(0, 0, 0, 0.0594) 3.125%,
                              rgba(0, 0, 0, 0.0588) 6.25%,
                              rgba(0, 0, 0, 0.057)  9.38%,
                              rgba(0, 0, 0, 0.0552) 12.5%,
                              rgba(0, 0, 0, 0.0492) 18.75%,
                              rgba(0, 0, 0, 0.0426) 25%,
                              rgba(0, 0, 0, 0.0276) 37.5%,
                              rgba(0, 0, 0, 0.021)  43.75%,
                              rgba(0, 0, 0, 0.015)  50%,
                              rgba(0, 0, 0, 0.0102) 56.25%,
                              rgba(0, 0, 0, 0.0066) 62.5%,
                              rgba(0, 0, 0, 0.0042) 68.75%,
                              rgba(0, 0, 0, 0.0024) 75%,
                              rgba(0, 0, 0, 0.0006) 87.5%,
                              rgba(0, 0, 0, 0));
}
