hdydeck > dimming,
hdyleaflet > dimming {
  background: rgba(0, 0, 0, 0.12);
}

hdydeck > shadow,
hdyleaflet > shadow {
  min-width: 56px;
  min-height: 56px;
}

hdydeck > border,
hdyleaflet > border {
  min-width: 1px;
  min-height: 1px;
  background: rgba(0, 0, 0, 0.05);
}

hdydeck > shadow.left,
hdyleaflet > shadow.left {
  background-image:
    linear-gradient(to right,
                    alpha(#000, 0.05),
                    alpha(#000, 0.01) 40px,
                    alpha(#000, 0) 56px),
    linear-gradient(to right,
                    alpha(#000, 0.03),
                    alpha(#000, 0.01) 7px,
                    alpha(#000, 0) 24px);
}

hdydeck > shadow.right,
hdyleaflet > shadow.right {
  background-image:
    linear-gradient(to left,
                    alpha(#000, 0.05),
                    alpha(#000, 0.01) 40px,
                    alpha(#000, 0) 56px),
    linear-gradient(to left,
                    alpha(#000, 0.03),
                    alpha(#000, 0.01) 7px,
                    alpha(#000, 0) 24px);

}

hdydeck > shadow.up,
hdyleaflet > shadow.up {
  background-image:
    linear-gradient(to bottom,
                    alpha(#000, 0.05),
                    alpha(#000, 0.01) 40px,
                    alpha(#000, 0) 56px),
    linear-gradient(to bottom,
                    alpha(#000, 0.03),
                    alpha(#000, 0.01) 7px,
                    alpha(#000, 0) 24px);
}

hdydeck > shadow.down,
hdyleaflet > shadow.down {
  background-image:
    linear-gradient(to top,
                    alpha(#000, 0.05),
                    alpha(#000, 0.01) 40px,
                    alpha(#000, 0) 56px),
    linear-gradient(to top,
                    alpha(#000, 0.03),
                    alpha(#000, 0.01) 7px,
                    alpha(#000, 0) 24px);
}
